<div class="container-fluid">
  <span class="sr-only" id="loading"></span>

  <div *ngFor="let cat of uniCategory">
    <h2>{{ cat }}</h2>

    <div class="row">
      <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
        <ng-container *ngFor="let mv of moviesList; let j = index">
          <ng-container *ngIf="checkCategory(cat, mv)">
            <div class="card bg-dark text-black" (click)="showDetail(mv)">
              <img class="card-img" [src]="mv.data.imgPath" alt="Card image" />
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <hr />
</div>
