<div class="container-fluid">
  <h1>Netflix</h1>

  <button class="btn btn-outline-primary" (click)="onReg()">Register</button>

  <div *ngIf="!isLoggedIn" class="row">
    <div class="col-md-4">
      <form [formGroup]="alreadyUser">
        <label for="email"> E-mail </label>
        <input
          class="form-control"
          type="email"
          id="email"
          [class.is-invalid]="
            alreadyUser.get('email').invalid && alreadyUser.get('email').touched
          "
          formControlName="email"
          required
        />
        <div
          *ngIf="
            (alreadyUser.get('email').invalid &&
              alreadyUser.get('email').touched) ||
            alreadyUser.get('email').dirty
          "
        >
          <small
            class="text-danger"
            *ngIf="alreadyUser.get('email').errors?.required"
            >Email address is required</small
          >
          <small
            class="text-danger"
            *ngIf="alreadyUser.get('email').errors?.email"
            >Email address is invalid</small
          >
        </div>
        <br />
        <label for="password"> Password </label>
        <input
          class="form-control"
          type="password"
          id="password"
          formControlName="password"
          required
        />

        <button class="btn btn-outline-danger" (click)="onLogin()">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
