<div class="container-fluid">
  <img
    src="https://cdn.pocket-lint.com/r/s/1200x/assets/images/140219-tv-news-feature-netflix-tips-and-tricks-how-to-master-your-binge-watching-experience-image4-rivlhfwq6o.jpg"
  />
  <span class="sr-only" id="loading"></span>
</div>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-2" *ngFor="let mv of mvis; let j = index">
      <div class="card bg-dark text-black" (click)="showDetail(mv)">
        <img class="card-img" [src]="mv.data.imgPath" alt="Card image" />

        <div class="card-img-overlay"></div>
      </div>
    </div>
  </div>
</div>
