<div  class="container-fluid"  style="background-color: black; width: 100%;">
    
    <img src="https://cdn.pocket-lint.com/r/s/1200x/assets/images/140219-tv-news-feature-netflix-tips-and-tricks-how-to-master-your-binge-watching-experience-image4-rivlhfwq6o.jpg"
    style="width: 100%; height: 400px;">
</div>
<div class="container-fluid" style="background-color: black; width: 100%;">
    <div class="row no-gutters" >

        <div class="col-2" style="padding: 0;" *ngFor="let mv of mvis;  let j = index">



            <!-- <div class="card "
                style="margin-left: 5px; margin-bottom: 5px; max-width: 200px;
                 border: 1.5px solid black;"> -->
            <div class="card bg-dark text-black"  (click) = "showDetail(mv)" style="max-width: 200px; height: 200px;padding: 0;">
                <img class="card-img" [src]="mv.data.imgPath " alt="Card image" style="max-width: 200px; height: 200px;" >

                <div class="card-img-overlay"  >


                    <!-- <h4 class="card-text">{{mv.data.uniqueId}} </h4>
                    <p class="card-text">{{ mv.data.catagory}}</p> -->
                    <!-- <p class="card-text">{{ mv.data.description}}</p> -->
                    <!-- <button class="button button-stable button-clear">
                        <img [src]="mv.data.imgPath"   (click) = "onClick()">
                        </button>
                    -->
                    <!-- <a href="/MovieDetails " (click) = "showDetail(mv)" class="stretched-link"></a> -->
                    <!-- <button type="button" >clickme</button> -->
                </div>
            </div>
        </div>
    </div>
    
        </div>
       <!-- new page for MovieDetail Page -->
       <div *ngIf = movieDetail class="container-fluid">
        <!-- <img [src] = "details.imgPath" style="max-width: 100%; height: 400px;"> -->
    </div>
      