<div class="container-fluid">
  <button class="btn btn-outline-success" (click)="logOut()">Log Out</button>
  <h3>Add Movie Details</h3>

  <div class="container-sm">
    <div class="col-sm-5">
      <form [formGroup]="movie">
        <label for="name"> Movie-Title </label>
        <input
          type="text"
          class="form-control"
          id="name"
          value=""
          formControlName="title"
          required
        />
        <div
          *ngIf="
            movie.controls['title'].invalid && movie.controls['title'].touched
          "
          class="alert alert-danger"
        >
          <div *ngIf="movie.controls['title'].errors.required">
            Title is required.
          </div>
        </div>

        <br />

        <label for="productId"> Unique-Id </label>
        <input
          type="number"
          class="form-control"
          id="productId"
          value=""
          formControlName="uniqueId"
          required
          maxlength=""
        />
        <div
          *ngIf="
            movie.controls['uniqueId'].invalid &&
            movie.controls['uniqueId'].touched
          "
          class="alert alert-danger"
        >
          <div *ngIf="movie.controls['uniqueId'].errors.required">
            Unique-Id is required.
          </div>
        </div>
        <br />

        <label for="catagory"> catagory </label>
        <input
          type="text"
          class="form-control"
          id="catagory"
          value=""
          formControlName="catagory"
          required
        />
        <div
          *ngIf="
            movie.controls['catagory'].invalid &&
            movie.controls['catagory'].touched
          "
          class="alert alert-danger"
        >
          <div *ngIf="movie.controls['catagory'].errors.required">
            catagory is required.
          </div>
        </div>
        <br />

        <label for="description"> Description </label>
        <input
          type="text"
          class="form-control"
          id="description"
          value=""
          formControlName="description"
          required
        />
        <div
          *ngIf="
            movie.controls['description'].invalid &&
            movie.controls['description'].touched
          "
          class="alert alert-danger"
        >
          <div *ngIf="movie.controls['description'].errors.required">
            Description is required.
          </div>
        </div>
        <br />

        <label for="img"> Image Url </label>
        <input
          type="text"
          class="form-control"
          id="img"
          value=""
          formControlName="imgPath"
        />
        <div
          *ngIf="
            movie.controls['imgPath'].invalid &&
            movie.controls['imgPath'].touched
          "
          class="alert alert-danger"
        >
          <div *ngIf="movie.controls['imgPath'].errors.required">
            Image_Url is required.
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr />
  <div class="button">
    <button
      class="btn btn-outline-primary"
      [disabled]="movie.invalid"
      (click)="saveData()"
    >
      Save Data
    </button>
  </div>
</div>
