<div class="container-fluid">
  <img [src]="myMovie.data.imgPath" [alt]="myMovie.data.title" class="center" />
  <br />

  <div class="centers">
    <button
      class="btn btn-outline-secondary"
      style="margin-left: 450px; margin-right: auto"
    >
      <span class="material-icons"> thumb_down </span>
    </button>
    <button class="btn btn-outline-primary" type="button">
      <span class="material-icons"> play_circle_filled </span>
    </button>
    <button class="btn btn-outline-secondary">
      <span class="material-icons"> thumb_up </span>
    </button>
  </div>

  <p id="para1">Description :- {{ myMovie.data.description }}</p>
  <h3>{{ myMovie.data.title }}</h3>
  <p id="para2">{{ myMovie.data.catagory }}</p>
</div>
